<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat room</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app" v-cloak>
  <div id="messages" v-if="messages">
      <div class="message-wrapper" :class="message.type" v-for="message in messages">
        <div class="message-sender">{{ message.sender }}</div>
        <div class="message-bubble">{{ message.text }}</div>
      </div>
  </div>

  <form action="">
      <input v-model="currentMessage" autocomplete="off"/>
      <button v-on:click="sendMessage">&rarr;</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/main.js"></script>
</body>
</html>
